<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="TechRaffle">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white" style="transform: scale(1.5); transform-origin: top left; width: calc(100% / 1.5);">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <div class="flex items-center gap-4">
          <a href="/">
            <img src={~p"/images/logo.png"} width="80" />
          </a>
        </div>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          <%= if @current_scope do %>
            {@current_scope.user.username}
            <.link href={~p"/users/settings"}>Ajustes</.link>
            <.link href={~p"/users/log-out"} method="delete">Cerrar sesión</.link>
          <% else %>
            <.link href={~p"/users/register"}>Registrarse</.link>
            <.link href={~p"/users/log-in"}>Iniciar sesión</.link>
          <% end %>
          <.link navigate={~p"/raffles"}>
            Sorteos
          </.link>
          <%= if @current_scope && @current_scope.user.is_admin do %>
            <.link navigate={~p"/admin/raffles"}>
              Administrador
            </.link>
            <.link navigate={~p"/charities"}>
              ONGs
            </.link>
          <% end %>
          
        </div>
      </div>
    </header>
    {@inner_content}
  </body>
</html>
